.home {
    height: 100vh;
    background-image: url(/src/Images/background1.webp);
    background-size: cover;
    position: relative;
    margin: auto;
    font-family: "Poppins", sans-serif;

  }
  #home {
    margin: auto;
  
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: calc(0.7);
  }
  .home-content {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .home .tittle {
    color: rgb(255, 255, 255);
    font-size: 3.1rem;
    text-transform: uppercase;
  }
  .home .home-desc {
    text-transform: capitalize;
    margin: 20px 0%;
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  .home .btn {
    min-width: 160px;
    padding: 10px 35px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
    border: 0px solid transparent;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .home .btn-start {
    color: black;
    background-color: white;
  }
  .home .btn-start:hover {
      background-color: rgb(0, 0, 0);
      color: white;
    }
  .home .btn-learn {
    background-color: #db4444;
    color: white;
  }
  .home .btn-learn:hover {
      background-color: #ffffff;
      color: #db4444;
    }
    button{
      font-family: "Poppins", sans-serif;
    }
  /* .hover-opacity::after{
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      transition:width 0.5s;
      background-color: white;
      -webkit-transition:width 0.5s;
      -moz-transition:width 0.5s;
      -ms-transition:width 0.5s;
      -o-transition:width 0.5s;
  }  */
  